# IntelliJ IDEA
.idea/

# Compiled Output
target/

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Spring Boot DevTools
.restart

# Spring Boot Buildinfo
build/
!build/*.jar
